//-----COLORS BACKGROUND------
$blue-900: #3c4276;
$blue-800: #003dab;
$blue-600: #3968bd;
$blue-500: #4498df;
$blue-400: #cae0f5;
$blue-300: #eff4fb;
$pink: #f09bdc;
$white: #ffffff;
$gray-200: #bdbfd1;
$gray-100: #f3f6f9;

